* {
    /* '*' is universal selector */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("img2.webp");
    background-size: cover;
    color: rgba(222, 50, 50, 0.79);
    font-family: "Poppins", sans-serif;
   
    min-height: 100vh;
}

header {
    font-size: 2rem;
    text-shadow: #02423a;
    text-decoration: solid underline rgba(0, 0, 0, 0.474) 4px;
}

header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: solid 2px black;
    background: rgb(255, 255, 255);
}

input,
input::placeholder {
    font: 20px sans-serif;
}

form button {
    color: #ffffff;
    background: #31697d;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: #31bd48;
    color: white;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
} 

.todo-list {
    min-width: 20%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: white;
    font-size: 1.5rem;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
}

.filter-todo {
    padding: 1rem;
}

.todo li {
    flex: 1;
}

.trash-btn,
.complete-btn {
    background: #ee3737;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-btn {
    background: rgb(11, 212, 162);
}

.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
    pointer-events: none;
}

.fall {
    transform:rotateX(0);
    opacity:0;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
}

/* Custom Select */
.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
 
}

select {
    color: #0e1493;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    width: 12rem;
    
}

/* Arrow */
.select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    background:#ff6f47;
    cursor: pointer;
    pointer-events: none;

}

/*Transition*/
/*
.select:hover::after {
  transform: scale(1.5);
}
*/
